# Supabase Configuration
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your-anon-key-here
SUPABASE_SCHEMA=raw

#API Hasaki
HOME_API=https://hasaki.vn/wap/v2/master/?page=newHeaderHome
LISTING_API=https://hasaki.vn/wap/v2/catalog/category/get-listing-product?cat={}&p={}&product_list_limit=12&&more_data=1&lstType=1&lstId=0
PRODUCT_API=https://hasaki.vn/wap/v2/product/detail?id={}
REVIEW_API=https://hasaki.vn/mobile/v3/detail/product/rating-reviews?product_id={product_id}&page={page}&size=5&sort=create&filter=filter_all&is_desktop=1
